<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
      akka {
        loglevel = OFF
      
        actor {
          provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
          debug {
            reveiver = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhanled = on
          }
          deployment {
            /Playback/PlaybackStatistics {
              remote = "akka.tcp://MovieStreamingActorSystem@127.0.0.1:8091"
            }
          }
        }
        
        remote{
          helios.tcp{
            transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
            transport-protocol = tcp
            port = 0
            hostname = "127.0.0.1"
          }
        }
      }
      ]]>
    </hocon>
  </akka>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>